modules = ["nodejs-24", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 22613
externalPort = 3001

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BO72XOWGirKIypx3ZJmaNm8bidiYnmxBIDRAOx5D2YpAnyLsrsTXbSU-Ba-FiDHtSza2py0ctbVDKydgOqPO6gA"
VAPID_PRIVATE_KEY = "cDqav1yCCZA6b_eQsUoc-dMPysEWJhyYuN5mhpCddxQ"

[nix]
channel = "stable-25_05"
